* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/memphis-mini.png");
    
}
p {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    
}
.left {
    text-align: left;
}
div {
    text-align: center;
}
nav {
    display: flex;
    background-color: orange;
    justify-content: space-between;
    padding-right: 3.5rem ;
    
}
a {
    color: black;
    text-decoration: none;
    font-weight: 800;

}
.navimage {
margin-left: 2rem;
}
li {
    list-style-type: none ; 
    padding-right: 2rem;
    padding-bottom: 1.5rem;
    font-size: 1.2rem;
}
ul {
    align-items: flex-end; 
    display: flex;
    
}
.hero {
    display: flex;
    position: relative;
    justify-content: center;
 
    
}
.heroimage {
    display:flex;
    position: relative;
    justify-content: center;
    width: 120%;
    height: 500px;
    object-fit: cover;
    
}
h1 {
    position: absolute;
    background-color:white;
    bottom: 10%;
    padding: 20px;
    font-weight: 800;
}
h2 {
    font-size: 2rem;
    font-weight: 800;
    text-align: left;
}
.categories {
    display: flex;
    flex-direction: column;
    margin: 0rem 10rem ;
}
.imagebox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.categoryimages {
    width:  22rem;
    height: 15rem;
    object-fit: cover;
}
.showcaseimages {
    width:  15rem;
    height: 12rem;
    object-fit: cover;
}
.recipes {
    background-color: lightsteelblue;
    margin: 0rem 0rem ;
    padding: 0rem 10rem;

}
.recipes .imagebox p {
    background-color: azure;
    padding: 0.5rem;
    font-size: 1rem;
    
}
.blue {
    background-color: lightsteelblue;
    padding:0.5rem;
}
.navbottom {
  align-items: center;
}
h3 {
margin-left: 2rem;
}
.bottom {
    padding-right: 1rem;
    padding-bottom: 0rem;
    align-items: center;
}